* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
/*Header section*/
header {
  padding: 10px 30px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  color: white;
}

.hero-image {
  background-image: url("images/cucci pose.jpg");
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.hero-image img {
    width: 180px;
    background: transparent;
}

.hero-image header {
  background: transparent;
}

.hero-image h1 {
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 0px;
  background: transparent;
}

.hero-image nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: transparent;
  width: 100%;
  text-decoration-color: white;
}

.hero-image a {
  text-decoration: none;
  color: white;
  background: transparent;
  font-family: 'Cinzel', serif;
}

/*INFO BOX 1*/

.info-box-1 {
  border: none;
  width: 85%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.info-box-1 h2 {
  background-color: transparent;
  text-align: center;
  padding: 10px 30px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

/*INFOBOX 2*/
.info-box-2 {
  background-color: transparent;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 5px rgba(3, 0, 0, 0.4);
}

.info-box-2 h2 {
  background-color: transparent;
  text-align: center;
  padding: 10px 30px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.col-3{
  width: 300px;
  background-color: var(-light);
  border: 2px solid var(-dark);
  display: inline-block;
  margin: 20px 40px;
  padding: 10px;
  border-radius: 15px;
  max-height: 350px;
  text-align: center;
}

.col-3 img {
  width: 300px;
  height: 200px;
}
/*FOOTER*/
footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: grey;
  text-align: center;
  padding: 40px;
  bottom: 0%;
  font-size: 20px;
}
